* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.help-people {
    height: 600px;
    text-align: center;
    background-image: url("../images/banner.png");
}

.help-people p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.help-people h1 {
    color: white;
    padding-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.help-people-content {
    width: 50%;
    margin: 0px auto;
    padding-top: 200px;
}

.donate-button {
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-top: 30px;
}

.donate-today {
    margin-top: 130px;
    height: 400px;
}

.donate-today {
    text-align: center;
}

.donate-today p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.donate-today h1 {
    color: black;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

.tk-donate {
    margin-top: 50px;
}

.donate-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    color: #707070;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.money {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    margin: 0 20px;
    color: #707070;
    text-align: center;
    padding-top: 50px;
}


.dollar {
    width: 136px;
    height: 123px;
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    text-align: center;
    padding-top: 50px;
}

input {
    width: 250px;
    height: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;
    border: none;
    margin-top: 40px;
}

hr {
    width: 765px;
    height: 0px;
    border: 1px solid #DADADA;
    margin-left: 250px;
}

.our-donate-container {
    margin-top: 130px;
}

.our-donate-container h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
    margin-top: 20px;
}

.our-donate-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    /* width: 900px; */
    height: 80px;
}

.our-plans {
    display: flex;
}

.our-plans p {
    text-align: left;
    width: 315px;
    height: 101px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    margin-left: 23px;
    margin-top: 16px;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
    margin-left: 23px;
    margin-top: 31px;
}

.food {
    width: 360px;
    height: 352px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    margin-left: 60px;
}

.food img {
    width: 58.13px;
    height: 49.77px;
    margin-left: 23px;
    margin-top: 63px;
}

.family {
    width: 360px;
    height: 352px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    margin-left: 30px;
}

.family img {
    width: 53px;
    height: 53px;
    margin-left: 23px;
    margin-top: 63px;
}

.education {
    width: 360px;
    height: 352px;
    background: #FFF4D6;
    border-radius: 5px;
    margin-left: 30px;
}

.education img {
    width: 53px;
    height: 53px;
    margin-left: 23px;
    margin-top: 62px;
}

.update-container {
    margin-top: 130px;
}

.update-container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-top: 20px;
}

.update-container h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #121212;
}

.my-update {
    align-items: center;
    text-align: center;
    display: flex;
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-top: 50px;
    margin-left: 250px;
}

#email {
    width: 275px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    margin-left: 188px;
}

.subscribe {
    width: 157px;
    height: 48px;
    background: #FF5959;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 38px;
}

.ways-to-donate {
    margin-top: 130px;
}

.donate-carites {
    display: flex;
}

.donate-img img {
    width: 456px;
    height: 420px;
    margin-left: 120px;
    border-radius: 5px;
}

.way-details h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #121212;
    margin-bottom: 15px;
}

.way-details {
    width: 482px;
    height: 374px;
    margin-left: 94px;
    margin-top: 5px;
}

.contribute {
    width: 230px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
}

.footer {
    Width: 100%;
    Height: 177px;
    margin-top: 130px;
    background: #0B0D17;
    text-align: center;
    align-items: center;
}

.footer h2 {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FF5959;
    padding-top: 43px;
}

.footer p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #D9DBE1;
    padding-top: 24px;
}